.home-container{
    /* position: relative; */
    margin: auto;
    /* height: 750px; */
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: red; */
}
.home-left{
    position: absolute;
    left: 20px;
    top: 100px;
}

/* grades page */
.grades-container{
    /* background-color: red; */
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-container{
    background-color: rgb(222, 186, 206);
    width: 800px;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
}
.layout-container>div:nth-child(1){
    /* background-color: #9A1663; */
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.layout-container>div:nth-child(2),
.layout-container>div:nth-child(3){
    /* background-color: gold; */
    /* padding: 5px; */
}
.layout-container>div>div:nth-child(1){
    background-color: white;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 5px dashed #9A1663;
}
.layout-container>div>div:nth-child(2){
    background-color: burlywood;
    width: 100%;
}
.layout-container>div>div:nth-child(2) select{
    font-size: 20px;
    border: none;
    font-family: cursive;
}
.layout-details{
    /* background-color: red; */
    text-align: start;
    margin-left: 10px;
    font-size: 25px;
    font-family: cursive;
}
.layout-details>div:nth-child(3){
    font-size: 18px;
}
.layout-container img{
    display: flex;
    align-items: center;
    /* background-color: blue; */
}
.grade-display{
    background-color: rgb(222, 186, 206) !important;
    font-size: 35px !important;
    margin: auto;
    text-align: start;
    justify-content: start;
    left: 0;
    width: 98% !important;
    border: none !important;
    font-family: cursive;
}
.grade-display>div{
    display: block;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}
.grade-display>div:nth-child(2){
    margin-left: 30px;
}
.grade-display>div:nth-child(1){
    width: 70%;
}
.grade-display>div>div{
    border-bottom: 2px solid black;
}
.layout-left-container{
    background-color: #FFE15D;
    padding: 10px;
    margin: 40px -200px 40px 70px;
    height: 300px;
    font-size: 40px;
    border-radius: 10px;
    position: relative;
}
.layout-left-container>div:nth-child(1){
    background-color: #483838;
    color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;

}
.layout-left-container>div:nth-child(2){
    background-color: #205375;
    color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.layout-left-container>div:nth-child(3){
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid black;

    left: 7px;
    top : 7px;
}
.layout-left-container>div:nth-child(4){
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid black;

    right: 7px;
    top : 7px;
}
.layout-left-container>div:nth-child(5){
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid black;

    left: 7px;
    bottom : 7px;
}
.layout-left-container>div:nth-child(6){
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid black;

    right: 7px;
    bottom : 7px;
}


/* this is for Bulletin.js */
.bulletin-container{
    /* background-color: red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bulletin-left{
    position: relative;
    background-color: #f7ff9c;
    width: 500px;
    height: 600px;
    margin-top: 70px;
}
.bulletin-left>h2{
    margin: 20px auto;
    width: fit-content;
    position: relative;
    /* background-color: red; */
    font-size: 70px;
    font-family: cursive;
    color: white;
    -webkit-text-stroke: .3vw #ff7300;
}
.bulletin-left>h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #c4c2ff;
    -webkit-text-stroke: black;
    border-right: 5px solid #c4c2ff;
    overflow: hidden;
    animation: animate 6s linear infinite;
    white-space: nowrap;
}

@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

.bulletin-left>h3{
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    font-family: cursive;
    font-size: 20px;
}

/* this is for bulletin scotch-tapes */
.bulletin-left>div:nth-child(1),
.bulletin-left>div:nth-child(2),
.bulletin-left>div:nth-child(3),
.bulletin-left>div:nth-child(4){
    position: absolute;
    width: 30px;
    height: 80px;
    background-color: rgba(255, 233, 194, 0.5);
}
.bulletin-left>div:nth-child(1){
    left: -8px;
    top: -40px;
    transform: rotate(45deg);
    height: 110px;
}
.bulletin-left>div:nth-child(2){
    right: -2px;
    top: -20px;
    transform: rotate(-25deg);
}
.bulletin-left>div:nth-child(3){
    right: -2px;
    bottom: -20px;
    transform: rotate(-145deg);
    background-color: rgba(255, 233, 194, 0.8);
}
.bulletin-left>div:nth-child(4){
    left: -10px;
    bottom: -12px;
    transform: rotate(145deg);
    z-index: 2;
    background-color: rgba(255, 233, 194, 0.8);
}

/* fireworks */
.bulletin-left>.greetings{
    margin-top: 50px;
    text-transform: uppercase;
    color: rgb(209, 0, 0);
    font-family:'Courier New', Courier, monospace;
    -webkit-text-stroke: 2px rgb(232, 0, 0);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 5px 5px 0 #FF731D;

    animation: flicker 1.5s infinite alternate;  
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 5px 5px 0 #FF731D;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

.fireworks{
    position: absolute;
}
#fireworks-left{
    width: 150px;
    bottom: 150px;
}
#fireworks-right{
    width: 200px;
    right: 0;
    bottom: 50px;
}
.bulletin-left>h5{
    background-color: #379237;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* bulletin-right */
.bulletin-right{
    /* border: 2px solid red; */
    width: 550px;
    height: 680px;
    margin-top: 70px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-container{
    background-color: rgb(59, 0, 98);
    border-radius: 10px 10px 0 0;
    color: white;
    width: 500px;
    margin-bottom: 40px;
}
.status-container>div:nth-child(1){
    /* background-color: green; */
    padding: 5px;
    text-align: start;
}
.status-profile{
    /* background-color: rgb(216, 216, 216); */
    width: fit-content;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
}
.status-profile>div:nth-child(1){
    font-size: 17px;
    font-weight: bold;
}
.status-profile>div:nth-child(2){
    font-size: 13px;
}
.status-container>div>div:nth-child(2){
    margin-top: 10px;
    /* background-color: red; */
}

/* bulletin-middle */
.events{
    background: linear-gradient(to bottom, #1C6758, #6d4ca1);
    margin: 0 50px 0 80px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    -webkit-text-stroke: .3vw #F37878;
    color: white;
    height: 100%;
}

/* Menu.js */
.menu-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-content{
    height: 660px;
    width: 90%;
    margin: auto;
    margin-top: 82px;
    background: linear-gradient(to bottom, rgb(243, 210, 255), rgb(255, 244, 246));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-top{
    /* background-color: blue; */
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
}

.menu-top>div{
    padding: 10px;
    background: linear-gradient(to right, rgb(245, 253, 255), rgb(254, 245, 255)) ;
}
.menu-top>div:nth-child(1){
    margin: 10px 20px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgb(206, 206, 206);
}
.menu-top>div:nth-child(2){
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    text-align: start;
}
.menu-top>div:nth-child(2)>div:nth-child(1){
    font-size: 40px;
}
.menu-top>div:nth-child(2)>div:nth-child(2){
    font-style: italic;
}
.menu-top>div:nth-child(2)>div:nth-child(4){
    position: absolute;
    width: 100%;
    border-bottom: 5px solid rgb(222, 222, 222);
    left: 0;
    margin-top: 10px;
}
.menu-top>div:nth-child(2)>div:nth-child(5){
    margin-top: 30px;
}
.menu-top>div:nth-child(2)>div:nth-child(5),
.menu-top>div:nth-child(2)>div:nth-child(6),
.menu-top>div:nth-child(2)>div:nth-child(7){
    font-size: 18px;
    letter-spacing: 1.5px;
}
/* logout and update buttons */
.menu-logout:hover,
.menu-update:hover{
    /* transform: translateX(10px); */
    width: 10%;
}
.menu-update{
    transition-duration: .3s;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    left: 0;
    top: 160px;
    width: 80px;
    height: 15px;
    background: #0dc800 !important;
}
.menu-logout{
    transition-duration: .3s;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    left: 0;
    top: 200px;
    width: 80px;
    height: 15px;
    background: rgb(255, 0, 81) !important;
}
/* menu top right */
.menu-top-right{
    width: 55%;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-top-right>div:nth-child(1)>div:hover,
.menu-top-right>div:nth-child(2)>div:hover,
.menu-top-right>div:nth-child(3)>div:hover,
.menu-top-right>div:nth-child(4)>div:hover{
    transition-duration: .4s;
    transform: scale(1.2);
}
.menu-top-right>div:nth-child(1)>div,
.menu-top-right>div:nth-child(2)>div,
.menu-top-right>div:nth-child(3)>div,
.menu-top-right>div:nth-child(4)>div{
    transition-duration: .3s;
    cursor: pointer;
    display: flex;
    /* background: red; */
    margin: 30px 10px;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 10px;
    background: linear-gradient(to right, rgb(245, 253, 255), rgb(254, 245, 255)) padding-box,
              linear-gradient(to right, rgb(187, 241, 255), rgb(248, 188, 255)) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}
.menu-top-right>div:nth-child(4)>div{
    margin: 10px;
}

/* menu bottom */
.menu-bottom{
    background: rgb(139, 123, 189);
    width: 70%;
    height: 56%;
    border-radius: 10px;
    display: flex;
    margin-left: 10px;
    align-self: flex-start;
}
.menu-bottom-left{
    /* background-color: red; */
}
.menu-bottom-left>div:nth-child(2),
.menu-bottom-left>div:nth-child(3),
.menu-bottom-left>div:nth-child(4),
.menu-bottom-left>div:nth-child(5){
    width: fit-content;
    padding: 15px;
    /* background-color: green; */
    border-radius: 5px;
    margin: 20px;
    background: linear-gradient(to right, rgb(255, 240, 230), rgb(236, 221, 255));
    cursor: pointer;
    transition-duration: .2s;
}
.menu-bottom-left>div:nth-child(2):hover,
.menu-bottom-left>div:nth-child(3):hover,
.menu-bottom-left>div:nth-child(4):hover,
.menu-bottom-left>div:nth-child(5):hover{
    transition-duration: .4s;
    transform: scale(1.2);
}

.menu-bottom-left>div:nth-child(4){
    display: flex;
    align-items: center;
    flex-direction: row;
}


/* clock */
.menu-content{
    position: relative;
}
.menu-content>div:nth-child(3){
    position: absolute;
    right: 90px;
    bottom: 90px;
}

/* picture (books)*/
.books{
    position: absolute;
    bottom: 25px;
    right: 420px;
}