.home-container{
    margin: auto;
    /* height: 750px; */
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: red; */
}

/* grades page */
.grades-container{
    /* background-color: red; */
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-container{
    background-color: rgb(222, 186, 206);
    width: 800px;
    height: 550px;
    padding: 5px;
}
.layout-container>div:nth-child(1){
    /* background-color: #9A1663; */
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.layout-container>div:nth-child(2){
    background-color: gold;
    padding: 5px;
}
.layout-container>div>div:nth-child(1){
    background-color: white;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 5px dashed #9A1663;
}
.layout-container>div>div:nth-child(2){
    background-color: burlywood;
    width: 100%;
}
.layout-details{
    /* background-color: red; */
    text-align: start;
    margin-left: 10px;
    font-size: 25px;
    font-family: cursive;
}
.layout-container img{
    display: flex;
    align-items: center;
    /* background-color: blue; */
}