button{
  font-size: 30px;
  border: 2px solid white;
  transition-duration: .1s;
  border-radius: 5px;
  background-color: #5FD068;
  color: white;
}
button:active{
  transform: scale(1.2);
  transition-duration: .2s;
}
button:hover{
  cursor: pointer;
}
.Login-button:hover{
  background-color: #8D72E1;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}